/* Updated: 2025-09-30T09:35:36.780Z */
/* Updated: 2025-09-30T09:34:55.907Z */
/* Updated: 2025-09-30T09:34:17.860Z */
/* Updated: 2025-09-30T09:33:39.150Z */
/* Updated: 2025-09-30T09:32:59.291Z */
/* Updated: 2025-09-30T09:32:21.391Z */
/* Updated: 2025-09-30T09:31:41.904Z */
/* Updated: 2025-09-30T09:31:18.134Z */
/* Updated: 2025-09-30T09:30:54.449Z */
/* Updated: 2025-09-30T09:30:30.859Z */
/* Updated: 2025-09-30T09:30:06.795Z */
/* Updated: 2025-09-30T09:29:43.349Z */
/* Updated: 2025-09-30T09:29:19.849Z */
/* Updated: 2025-09-30T09:28:56.411Z */
/* Updated: 2025-09-30T09:28:31.957Z */
/* Updated: 2025-09-30T09:28:07.098Z */
/* Updated: 2025-09-30T09:27:43.519Z */
/* Updated: 2025-09-30T09:27:19.927Z */
/* Updated: 2025-09-30T09:26:55.682Z */
/* Updated: 2025-09-30T09:26:31.246Z */
/* Updated: 2025-09-30T09:26:09.285Z */
/* Updated: 2025-09-30T09:25:26.325Z */
/* Updated: 2025-09-30T09:25:02.913Z */
/* Updated: 2025-09-30T09:24:38.867Z */
/* Updated: 2025-09-30T09:24:15.112Z */
/* Updated: 2025-09-30T09:23:51.382Z */
/* Updated: 2025-09-30T09:23:27.244Z */
/* Updated: 2025-09-30T09:23:03.665Z */
/* Updated: 2025-09-30T09:22:37.843Z */
/* Updated: 2025-09-30T09:22:14.164Z */
/* Updated: 2025-09-30T09:21:50.124Z */
/* Updated: 2025-09-30T09:21:27.000Z */
/* Updated: 2025-09-30T09:21:03.065Z */
/* Updated: 2025-09-30T09:20:38.963Z */
/* Updated: 2025-09-30T09:20:15.365Z */
/* Updated: 2025-09-30T09:19:51.467Z */
/* Updated: 2025-09-30T09:19:27.808Z */
/* Updated: 2025-09-30T09:19:02.951Z */
/* Updated: 2025-09-30T09:18:39.426Z */
/* Updated: 2025-09-30T09:18:15.626Z */
/* Updated: 2025-09-30T09:17:51.370Z */
/* Updated: 2025-09-30T09:17:27.263Z */
/* Updated: 2025-09-30T09:17:03.169Z */
/* Updated: 2025-09-30T09:16:39.662Z */
/* Updated: 2025-09-30T09:16:16.137Z */
/* Updated: 2025-09-30T09:15:52.314Z */
/* Updated: 2025-09-30T09:15:28.432Z */
/* Updated: 2025-09-30T09:15:03.377Z */
/* Updated: 2025-09-30T09:14:40.137Z */
/* Updated: 2025-09-30T09:14:15.440Z */
/* Updated: 2025-09-30T09:13:51.642Z */
/* Updated: 2025-09-30T09:13:28.226Z */
/* Updated: 2025-09-30T09:13:03.472Z */
/* Updated: 2025-09-30T09:12:39.626Z */
/* Updated: 2025-09-30T09:12:17.030Z */
/* Updated: 2025-09-30T09:07:39.446Z */
/* Updated: 2025-09-30T09:07:15.996Z */
/* Updated: 2025-09-30T09:06:51.742Z */
/* Updated: 2025-09-30T09:06:28.147Z */
/* Updated: 2025-09-30T09:06:04.666Z */
/* Updated: 2025-09-30T08:55:57.273Z */
/* Updated: 2025-09-30T08:55:19.049Z */
/* Updated: 2025-09-30T08:54:41.011Z */
/* Updated: 2025-09-30T08:54:02.549Z */
/* Updated: 2025-09-30T08:53:24.741Z */
/* Updated: 2025-09-30T08:52:40.310Z */
/* Updated: 2025-09-30T08:52:17.090Z */
/* Updated: 2025-09-30T08:51:52.164Z */
/* Updated: 2025-09-30T08:51:28.672Z */
/* Updated: 2025-09-30T08:51:05.138Z */
/* Updated: 2025-09-30T08:50:41.182Z */
/* Updated: 2025-09-30T08:50:17.575Z */
/* Updated: 2025-09-30T08:49:53.094Z */
/* Updated: 2025-09-30T08:49:29.885Z */
/* Updated: 2025-09-30T08:49:05.760Z */
/* Updated: 2025-09-30T08:48:41.093Z */
/* Updated: 2025-09-30T08:48:17.889Z */
/* Updated: 2025-09-30T08:47:53.339Z */
/* Updated: 2025-09-30T08:47:28.365Z */
/* Updated: 2025-09-30T08:46:49.715Z */
/* Updated: 2025-09-30T08:46:26.213Z */
/* Updated: 2025-09-30T08:46:02.466Z */
/* Updated: 2025-09-30T08:45:38.685Z */
/* Updated: 2025-09-30T08:45:14.990Z */
/* Updated: 2025-09-30T08:44:50.840Z */
/* Updated: 2025-09-30T08:44:26.956Z */
/* Updated: 2025-09-30T08:24:30.013Z */
/* Updated: 2025-09-29T21:31:02.714Z */
/* Updated: 2025-09-29T18:04:22.992Z */
/* Updated: 2025-09-29T16:19:44.563Z */
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply text-5xl tracking-tight lg:text-7xl;
  }
}

/* Hide Next.js error overlay portal */
nextjs-portal {
  display: none !important;
}